:root {
  line-height: 1.5;
  font-weight: 400;

  --white: #ffffff;
  --black: #000000;
  --light: #F2F2F2;
  --dark: #0D0D0D;
  --gray-light: #CCCCCC;
  --gray-dark: #333333;
  --blue: #59BAFF;
  --red: #FF472E;
  --green: #4EF369;
  --yellow: #E6FF6A;
  --orange: #F2CD63;
  --purple: #F2B2D7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 16px;
}

h1 {
  margin-top: 200px;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  /* grid-template-rows: auto; */
  gap: 18px;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 300px;
}

.card {
  display: flex;
  gap: 4px;
  flex-direction: column;
  text-transform: uppercase;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.image {
  width: 100%;
  object-fit: contain;
}

.card h2 {
  font-size: 1.125rem;
  font-weight: 500;
}

.card p, .link {
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 400;
  color: var(--gray-dark);
  opacity: 0.8;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.card.card3 {
  grid-column: 7 / 13;
}
.card.card1 {
  grid-column: 1 / 4;
}
.card.card2 {
  grid-column: 4 / 7;
}

.gap {
  grid-column: 1 / -1;
  height: 40px;
}

.card.card5 {
  grid-column: 1 / 7;
}

.card.card4 {
  grid-column: 7 / 12;
}

.image-changer {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 6px;
  width: 450px;
  aspect-ratio: 5/3;
}
.image-changer img {
  width: 100%;
  object-fit: cover;
}

footer {
  display: flex;
  justify-content: center;
  color: var(--gray-dark);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    margin-top: 100px;
  }

  .grid-container {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 12px;
  }
  .card {
    position: relative;
  }

  .card.card3 {
    grid-column: 1 / -1;
  }
  .card.card1 {
    grid-column: 1 / -1;
  }
  .card.card2 {
    grid-column: 1 / -1;
  }

  .gap {
    height: 0;
  }

  .card.card5 {
    grid-column: 1 / -1;
  }

  .card.card4 {
    grid-column: 1 / -1;
  }

  .image-changer {
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    z-index: 10;
    box-shadow: 0 5px 15px #00000027;
  }
}